@model RITFacultyV1.ViewModels.AboutViewModel
<h2>@Model.Title</h2>

<h3>@Model.About.title</h3>
<div style="padding: 2.5%; margin: 4.5%; border: solid 2px black; text-align: center;">
    <p>@Model.About.description</p>
    <p>"@Model.About.quote"</p>
    <p> --- Author: @Model.About.quoteAuthor --- </p>
</div>
